extends layout
block head
  style
    .span1, .span2, .span3, .span4, .span5,
      .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
       background: #7EA2E6; 
    }
block body
  .container
    .row
      .span2 Span 2
      .span8 Span 8
      .span2 Span 2
    .row
      .span6.offset1 Span 6 / Offset 1
      .span5 Span 5
