extends layout
block head
  style
      .span8 { background: #7EA2E6; }
      .span4 { background: #8AE67E; }
block body
  .container
    .row
      .span2 Span 2
      .span8 Span 8 - Level 1
        .row
          .span4 Span 4 - Level 2
          .span4 Span 4 - Level 2
      .span2 Span 2
