extends layout
block head
  style
      .span8 { background: #7EA2E6; }
      .span6{ background: #8AE67E; }
block body
  .container-fluid
    .row-fluid
      .span2 Span 2
      .span8 Span 8 - Level 1
        .row-fluid
          .span6 Span 6 - Level 2
          .span6 Span 6 - Level 2
      .span2 Span 2
