extends layout
block body
  .container

    form.well
      each name in ["table", "table-striped", "table-bordered", "table-hover", "table-condensed"]
        label.checkbox.inline
          input(type="checkbox", value="#{name}")
          = name

    table.span12
      caption
        | Table with class "
        span
        |"
      thead: tr
        th.span8 Column A
        th Column B
        th.span2 Column C
      tbody
        each row in [1, 2, 3, 4]
          tr
            each cell in ["A", "B", "C"]
              td Cell #{row}-#{cell}

  != js("ex4")