extends layout
block body
  .container

    form.well
      label.checkbox.inline
        input(type="checkbox", value="table", checked=true)
        | table
      each name in ["striped", "bordered", "hover", "condensed"]
        label.checkbox.inline
          input(type="checkbox", value="table-#{name}")
          = name

    table.span12.table
      caption
        | Table with class "
        span
        |"
      thead: tr
        th.span8 Column A
        th Column B
        th.span2 Column C
      tbody
        each row in [1, 2, 3, 4]
          tr
            each cell in ["A", "B", "C"]
              td Cell #{row}-#{cell}

  != js("ex4")