extends layout
block body
  .container
    table.span12.table.table-bordered.table-condensed.table-striped
      caption
        | Table with class "table table-bordered
        | table-condensed table-striped"
      thead:tr
        th.span8 Column A
        th Column B
        th.span2 Column C
      tbody
        each row in [1, 2, 3, 4]
          tr
            each cell in ["A", "B", "C"]
              td Cell #{row}-#{cell}

