extend layout
block body
  .container(data-alert-insertion-point=true)
    button.btn.btn-danger(data-toggle="modal"
      data-target="#danger-alert") Do Not Press
  .modal.fade#danger-alert
    .modal-header
      a.close(data-dismiss="modal") &times;
      h3 Why did you press it?
    .modal-body
      p You pressed the button marked 
        strong Do Not Press
        .
    .modal-footer
      button.btn.btn-warning(data-dismiss="modal") Continue
      button.btn(data-dismiss="modal") Cancel
  != js("ex8")
