!!! 5
- var menuItems = ["Fixed Grid", "Fixed Grid - Nested Rows", "Fluid Grid", "Table"];
- menuItems.push("Buttons", "Tabs", "Dynamic Tabs");
- menuItems.push("Modal Dialog / Alert", "Dropdowns")
html
  head
    title Bootstrap Example
    != css("/bootstrap/css/bootstrap")
    != css("/css/style.css")
    != js("jquery-1.7.1")
    != js("/bootstrap/js/bootstrap")
    != js("underscore")
    block head
  body
    .navbar.navbar-fixed-top.navbar-inverse: .navbar-inner: .container
      a.brand(href="https://github.com/hlship/bootstrap-examples").
        Twitter Bootstrap Examples
      ul.nav.pull-right: li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          | Example 
          b.caret
        ul.dropdown-menu
          each label, ix in menuItems
            li: a(href="/ex#{ix + 1}")= label
    block body
