!!! 5
html
  head
    title Bootstrap Example
    != css("/bootstrap/css/bootstrap")
    != js("jquery-1.7.1")
    != js("/bootstrap/js/bootstrap")
    != js("underscore")
    block head
  body
    block body
